
@{
    ViewBag.Title = "VideoWidgetTest";
}

<h2>VideoWidgetTest</h2>

<div> @* Food *@
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLevHJO9mgauY_q2pqLa5R_QOk4EHl61m3" frameborder="0" allowfullscreen></iframe>
</div>

<div> @* Film *@
    
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLevHJO9mgaubk9t7QdtrWlcBCAiGlBBrP" frameborder="0" allowfullscreen></iframe>
</div>

<div> @* Code*@
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLevHJO9mgauaTZC1gJrlBDTaZD5Qqh_TC" frameborder="0" allowfullscreen></iframe>
</div>

<div> @* Music *@
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLevHJO9mgauYMo4JeCOvh1CtyqpmmwSFi" frameborder="0" allowfullscreen></iframe>
</div>

<div> @* Cars *@
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLevHJO9mgauZKm2rp2gQXDDmJ4eQB1IlF" frameborder="0" allowfullscreen></iframe>
</div>
<div> @* Travel *@
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLevHJO9mgauZ54cIVx_OUJwPqgNBIIrOw" frameborder="0" allowfullscreen></iframe>
</div>